@charset "UTF-8";

@font-face {
  font-family: "kitten-cards";
  src:url("fonts/kitten-cards.eot");
  src:url("fonts/kitten-cards.eot?#iefix") format("embedded-opentype"),
    url("fonts/kitten-cards.woff") format("woff"),
    url("fonts/kitten-cards.ttf") format("truetype"),
    url("fonts/kitten-cards.svg#kitten-cards") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kitten-cards" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kitten-cards" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-1:before {
  content: "a";
}
.icon-ic-2:before {
  content: "b";
}
.icon-ic-3:before {
  content: "c";
}
.icon-ic-4:before {
  content: "d";
}
.icon-ic-5:before {
  content: "e";
}
.icon-ic-6:before {
  content: "f";
}
.icon-ic-7:before {
  content: "g";
}
.icon-ic-8:before {
  content: "h";
}
.icon-ic-9:before {
  content: "i";
}
.icon-ic-9-plus:before {
  content: "j";
}
.icon-ic-add:before {
  content: "k";
}
.icon-ic-add-square:before {
  content: "l";
}
.icon-ic-back:before {
  content: "m";
}
.icon-ic-check:before {
  content: "n";
}
.icon-ic-close:before {
  content: "o";
}
.icon-ic-collection:before {
  content: "p";
}
.icon-ic-expand-less:before {
  content: "q";
}
.icon-ic-expand-more:before {
  content: "r";
}
.icon-ic-friends:before {
  content: "s";
}
.icon-ic-gold:before {
  content: "t";
}
.icon-ic-home:before {
  content: "u";
}
.icon-ic-install:before {
  content: "v";
}
.icon-ic-kik-share:before {
  content: "w";
}
.icon-ic-leave:before {
  content: "x";
}
.icon-ic-left-caret:before {
  content: "y";
}
.icon-ic-lock:before {
  content: "z";
}
.icon-ic-menu:before {
  content: "A";
}
.icon-ic-pending:before {
  content: "B";
}
.icon-ic-reward:before {
  content: "C";
}
.icon-ic-right-caret:before {
  content: "D";
}
.icon-ic-share:before {
  content: "E";
}
.icon-ic-subtract-square:before {
  content: "F";
}
.icon-ic-trade:before {
  content: "G";
}
.icon-ic-wishlist:before {
  content: "I";
}
.icon-ic-trade-circle:before {
  content: "H";
}
