@font-face {
	font-family: 'clay_icon_font';
	src:url('fonts/clay_icon_font.eot?rmy893');
	src:url('fonts/clay_icon_font.eot?rmy893#iefix') format('embedded-opentype'),
		url('fonts/clay_icon_font.ttf?rmy893') format('truetype'),
		url('fonts/clay_icon_font.woff?rmy893') format('woff'),
		url('fonts/clay_icon_font.svg?rmy893#clay_icon_font') format('svg');
	font-weight: normal;
	font-style: normal;
}

i, .icomoon-liga {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'clay_icon_font' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.action:before {
	content: "\e900";
}
.explore:before {
	content: "\e901";
}
.adventure:before {
	content: "\e901";
}
.advertise:before {
	content: "\e902";
}
.ad:before {
	content: "\e902";
}
.ads:before {
	content: "\e902";
}
.arcade:before {
	content: "\e903";
}
.controller:before {
	content: "\e903";
}
.arrow_back:before {
	content: "\e904";
}
.back:before {
	content: "\e904";
}
.close:before {
	content: "\e905";
}
.cancel:before {
	content: "\e905";
}
.email:before {
	content: "\e906";
}
.facebook:before {
	content: "\e907";
}
.favorite_border:before {
	content: "\e908";
}
.heart_border:before {
	content: "\e908";
}
.favorite:before {
	content: "\e909";
}
.heart:before {
	content: "\e909";
}
.github:before {
	content: "\e90a";
}
.google_plus:before {
	content: "\e90b";
}
.gplus:before {
	content: "\e90b";
}
.home:before {
	content: "\e90c";
}
.house:before {
	content: "\e90c";
}
.kik:before {
	content: "\e90d";
}
.menu:before {
	content: "\e90e";
}
.hamburger:before {
	content: "\e90e";
}
.mobile:before {
	content: "\e90f";
}
.phone:before {
	content: "\e90f";
}
.smartphone:before {
	content: "\e90f";
}
.profile:before {
	content: "\e910";
}
.user:before {
	content: "\e910";
}
.person:before {
	content: "\e910";
}
.puzzle:before {
	content: "\e911";
}
.extension:before {
	content: "\e911";
}
.racing:before {
	content: "\e912";
}
.car:before {
	content: "\e912";
}
.search:before {
	content: "\e913";
}
.share:before {
	content: "\e914";
}
.social:before {
	content: "\e915";
}
.friends:before {
	content: "\e915";
}
.people:before {
	content: "\e915";
}
.group:before {
	content: "\e915";
}
.star_border:before {
	content: "\e916";
}
.rate_border:before {
	content: "\e916";
}
.star:before {
	content: "\e917";
}
.rate:before {
	content: "\e917";
}
.strategy:before {
	content: "\e918";
}
.dice:before {
	content: "\e918";
}
.random:before {
	content: "\e918";
}
.ticket:before {
	content: "\e919";
}
.invite:before {
	content: "\e919";
}
.twitter:before {
	content: "\e91a";
}
.upload:before {
	content: "\e91b";
}
.cloud_upload:before {
	content: "\e91b";
}
.backup:before {
	content: "\e91b";
}

